name: conda

on:
  release:
    types:
      - published

jobs:
  linux:
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: molskill
          environment-file: environment.yml
          condarc-file: conda-recipe/.condarc
          python-version: 3.9
          auto-activate-base: false
      - run: |
          conda info
          conda install conda-build anaconda-client boa --yes
          cd conda-recipe && pkgs=$(boa build . | grep 'TEST START' | awk '{print $3}') && for pkg in ${pkgs};do anaconda -t ${{ secrets.CONDA_TOKEN }} upload -u msr-ai4science ${pkg}; done